<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/main :: head">
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div th:insert="fragments/main :: navbar"></div>
	<br>
	<div
		th:insert="fragments/tables :: vertical('Item',${new String[]{'id','itemDescription.name','location.name'}}, ${new String[]{'Serial Number','Name','Location'}},${item})"></div>
	<br>
	<center>
		<img id="barcode" th:src="'data:image/png;base64,' + ${barcode}" /><br><br>
		<a th:href="${'/barcode/' + item.id}" target="_blank"><input type="button" class="btn btn-primary btn-sm" value="Print Barcode"></a>

	</center>



</body>
</html>