<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/main :: head">
<meta charset="ISO-8859-1">
<title>Error</title>
</head>
<body>
	<br>
	<div class="alert alert-danger container">
		<div class="row">&nbsp;Se ha producido un error.&nbsp;&nbsp;</div>
	</div>
	<div class="container">
		<div class="row">
			<center>
				<div class="col col-lg-1">
					<img src="error.gif" class="img-responsive">
				</div>
			</center>
		</div>
		<div class="row">
		</div>
	</div>
</body>
</html>