<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/main :: head">
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div th:insert="fragments/main :: navbar"></div>
	<br>
	<div class="container jumbotron" style="padding: 1rem 2rem">
		<h4>
			Welcome to <b><span
				th:text="${@environment.getProperty('app.name')}"></span> v.<span
				th:text=${@environment.getProperty('app.version')}></span>!</b>
		</h4>
		<br>This site will let you manage items, their categories and
		location in a very simple way.<br> <br>
		<h5>Features:</h5>
		<ul>
			<li>CRUD system for items, item's descriptions, categories and
				locations</li>
			<li>Field validation in forms</li>
			<li>Barcode Generation</li>
			<li>Security (Authentication)</li>
			<li>Logging of operations with AOP</li>


		</ul>

		<h5>To Do:</h5>
		<ul>
			<li>Rest API</li>
			<li>Authorization with User Roles</li>
		</ul>
	</div>
	<div class="container jumbotron" style="padding: 1rem 2rem">

		<h5>
			<a name="about">Author</a>
		</h5>
		<br>
		<div class="row">

			<div class="col-lg-2 col-sm-6">
				<center>
					<img src="/photo.png" style="max-width: 80%">
				</center>
			</div>

			<div class="col-lg-10 col-sm-6">
				<b>Name:</b> <script type="text/javascript">
<!-- 
eval(unescape('%64%6f%63%75%6d%65%6e%74%2e%77%72%69%74%65%28%27%46%72%61%6e%63%69%73%63%6f%20%4a%75%61%6e%65%27%29%3b'));
// -->
</script><br> <b>E-Mail: </b>
				<script type="text/javascript">
<!-- 
eval(unescape('%64%6f%63%75%6d%65%6e%74%2e%77%72%69%74%65%28%27%66%72%61%6e%63%69%73%63%6f%6a%75%61%6e%65%75%74%6e%40%67%6d%61%69%6c%2e%63%6f%6d%27%29%3b'));
// -->
</script><br> <b>Mobile phone:</b>
				<script type="text/javascript">
<!-- 
eval(unescape('%64%6f%63%75%6d%65%6e%74%2e%77%72%69%74%65%28%27%2b%35%34%39%33%38%31%36%31%36%34%32%38%39%27%29%3b'));
// -->
</script> <br> <b>Education: </b>
				<ul>
					<li>Systems Analyst (Average Grade: 9.02)</li>
					<li>Information Systems Engineer (Only Thesis Defense
						Remaining)</li>
				</ul>
				<b>Certifications: </b>
				<ul>
					<li>Oracle Certified Associate</li>
					<li>Oracle Certified Professional</li>
					<li>Oracle Certified Expert</li>
<script type="text/javascript">
<!-- 
eval(unescape('%64%6f%63%75%6d%65%6e%74%2e%77%72%69%74%65%28%27%3c%61%20%68%72%65%66%3d%22%68%74%74%70%73%3a%2f%2f%77%77%77%2e%79%6f%75%72%61%63%63%6c%61%69%6d%2e%63%6f%6d%2f%75%73%65%72%73%2f%66%72%61%6e%63%69%73%63%6f%6a%75%61%6e%65%2f%22%20%74%61%72%67%65%74%3d%22%5f%62%6c%61%6e%6b%22%3e%3c%69%6e%70%75%74%20%74%79%70%65%3d%22%62%75%74%74%6f%6e%22%20%63%6c%61%73%73%3d%22%62%74%6e%20%62%74%6e%2d%70%72%69%6d%61%72%79%20%62%74%6e%2d%78%73%22%20%76%61%6c%75%65%3d%22%43%68%65%63%6b%20%43%65%72%74%69%66%69%63%61%74%69%6f%6e%73%22%3e%3c%2f%61%3e%27%29%3b'));
// -->
</script>
				</ul>
			</div>

		</div>

	</div>
</body>
</html>