<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/main :: head">
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div th:insert="fragments/main :: navbar"></div>

	<form action="/category/editAction" method="POST">
	<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
		<input type="hidden" name="id" th:value="${category.id}">
		<div class="form-group">
			<label>Name</label> <input type="text" class="form-control"
				name="name" th:value="${category.name}">

		</div>
		<input class="btn btn-primary btn-sm" type="submit" value="Enviar">
	</form>

</body>
</html>